

<div class="flowchart_body" style="overflow-x:scroll ;white-space: nowrap;">

    <div id="wrapper">
        <span style="background-color: green;" class="flowcahrt_label">
            <span class="flowcharttooltip">
                <span class="tooltiptext" id="spn_ezhar">

                </span>ارائه اظهارنامه
            </span>
        </span>
        <div class="branch ">
            <div class="entry sole">
                <span style="background-color: gray;" class="flowcahrt_label" id="spn_asnad">
                    درخواست اسناد و مدارک
                </span>
                <div class="branch ">
                    <div class="entry sole">
                        <span id="spn_tashkhis_label" style="background-color: gray;" class="flowcahrt_label">
                            <span class="flowcharttooltip">
                                <span class="tooltiptext" id="spn_tashkhis">

                                </span>صدور برگ تشخیص
                            </span>
                        </span>
                        <div class="branch ">
                            <div class="entry sole">
                                <span id="spn_eblagh_t_label" class="flowcahrt_label">
                                    <span class="flowcharttooltip">
                                        <span class="tooltiptext" id="spn_eblagh_t">

                                        </span>ابلاغ برگ تشخیص
                                    </span>
                                </span>

                                <div class="branch lv1">
                                    <div class="entry">
                                        <span style="background-color: gray;" id="spn_heiat_label" class="flowcahrt_label">ابلاغ قانونی</span>
                                        <div class="branch lv3">
                                            <div class="entry sole">
                                                <span style="background-color: gray;" class="flowcahrt_label">
                                                    <span class="flowcharttooltip">
                                                        <span class="tooltiptext" id="spn_heiat">

                                                        </span>هیات
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry">
                                        <span style="background-color: gray;" id="spn_eteraz_label"  class="flowcahrt_label">
                                            <span class="flowcharttooltip">
                                                <span class="tooltiptext" id="spn_eteraz">

                                                </span>اعتراض
                                            </span>

                                        </span>
                                        <div class="branch lv2">
                                            <div class="entry sole">
                                                <span style="background-color: gray;" id="spn_tavafogh_label"  class="flowcahrt_label">
                                                    <span class="flowcharttooltip">
                                                        <span class="tooltiptext" id="spn_tavafogh">

                                                        </span>توافق
                                                    </span>

                                                </span>
                                                <div class="branch ">
                                                    <div class="entry sole">
                                                        <span style="background-color: gray;" id="spn_badvi_label" class="flowcahrt_label">
                                                            <span class="flowcharttooltip">
                                                                <span class="tooltiptext" id="spn_badvi">

                                                                </span>هیات
                                                            </span>

                                                        </span>
                                                        <div class="branch ">
                                                            <div class="entry sole">
                                                                <span style="background-color: gray;" id="spn_heiattajdid_label" class="flowcahrt_label">
                                                                    <span class="flowcharttooltip">
                                                                        <span class="tooltiptext" id="spn_heiattajdid">

                                                                        </span> هیات تجدید نظر
                                                                    </span>

                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry">
                                        <span style="background-color: gray;" id="spn_tamkin_label" class="flowcahrt_label">
                                            <span class="flowcharttooltip">
                                                <span class="tooltiptext" id="spn_tamkin">

                                                </span> تمکین
                                            </span>
                                        </span>
                                        <div class="branch lv3">
                                            <div class="entry sole">
                                                <span style="background-color: gray;"  id="spn_ghatee_label"  class="flowcahrt_label">
                                                    <span class="flowcharttooltip">
                                                        <span class="tooltiptext" id="spn_ghatee">

                                                        </span>صدور برگ قطعی
                                                    </span>

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>