@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa">
<head>
  <title>CSS Tabs</title>
  <meta charset=utf-8>
   <link rel="stylesheet" href="~/SiteTemplate/assets/css/Flowchart.css">
</head>

<body  style="font-family:B Roya;">
  <div class="tabbed">
    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1">نمودار وضعیت</label>
    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2">فلوچارت</label>
    <div class="tabs">
      <div>
        <h2>نمودار وضعیت</h2>
        
        
    </div>
      <div>
        <h2>فلوچارت</h2>
     
    </div>
     
    </div>
  </div>
</body>

</html>